<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE24BB1718D8CA3F001B762F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE24BB1B18D8D2D9001B762F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE4027D218EB5841003F1BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDBD09D18D3C9D000E8E6AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EEDBD0AA18D3CA3500E8E6AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
